html,
body {
  margin: 0;
  padding: 10px;
  color: black;
  background-color: white;
  font-family:"Open sans", sans-serif;
  box-sizing: border-box;
}



.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 4px;
}
.main-menu a:hover {
  background-color: black;
  color: white;
}
  
.main-menu a {
  display: block;
  padding: 10px 10px;
  color: black;
  background-color: white;
  margin-left: -1px;
  text-decoration: none;
}



main {
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  padding-top: 0px;
  margin: 0px;
  color: black;
  background-color: white;
  text-decoration: none;
}


.block-1 {
  font-size: 13px;
  color: white;
  padding: 180px 0;
  background-image: url(images/stadium.png);
  background-attachment: fixed;
  background-size: cover;
  }
  
h1 {font-size: 26px;}
h2 {font-size: 20px;}


#button {
margin-top:10px;
background-color: black;
color: white;
font-size: 20px;
border-radius: 25px;
border: black
}
  
.block-2 {
  font-size: 14px;
  padding: 80px;
  position: relative;}
  
.block-3 {
  font-size: 14px;
  padding: 180px;
position: relative;}
.block-4 {
  font-size: 14px;
  padding: 180px;
  position: relative;}

.layout-positioner{
    width: 350px;
    margin: 10px 10px;}
.stage1{
  float: left;
  width: 500px;
}
.stage2{
  float: left;
  width: 500px;
  clear: right;
}
.stage3{
  float: left;
  width: 500px;
}
.stage4{
  float: left;
  width: 500px;
}

.block-5 {
  font-size: 14px;
  padding: 180px;
  clear: both;}
.block-6 {
  font-size: 14px;
  padding: 180px}
  form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
  }
  
  fieldset {
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
  }
  
  fieldset legend {
    color:black;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    height: 24px;
    margin-bottom: 10px;
    padding: 2px 5px;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 5px;
    padding: 6px 15px;
    color: #ffffff;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    margin-top: 10px;
    text-align: center;
  }

table {margin: auto}
tr {text-align: left;}

footer{
  color: black;
}
.contacts {
  width: 250px;
  margin: 0 auto;
  margin-top: 80px;
}

.contacts .title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #7f8c8c;
}

.contacts .item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}

.contacts .icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 22px;
  height: 32px;
  background: url("images/contacts.png") no-repeat 0 0;
}

.contacts .icon-phone {
  background-position: 0 -10px;
}

.contacts .icon-email {
  background-position: -2px -38px;
}

.contacts a {
  color:gray;
}


caption {margin: 10 px;
font-size: 28px;}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
.shown {
  display: inline-block;
}
